<form class="add-product-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Placeholder" name="name" [(ngModel)]="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Placeholder" type="text" name="description" [(ngModel)]="description">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" type="text" name="price" [(ngModel)]="price">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <button type="submit">Add Product</button>
</form>